* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media (max-width: 852px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    padding: 0;
  }

  .main {
    flex-direction: column;
  }

  .main article {
    margin: 2rem 0;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer div {
    margin: 2rem 0;
  }
}

body {
  background-color: #fdfbf4;
  font-family: 'Inter', sans-serif;
  margin: 3rem 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

header > img {
  display: block;
  margin: 0 auto;
  width: 15%;
}

nav {
  background-color: #f2e0d2;
  width: 80%;
  margin: 2rem auto;
  border-radius: 50% 0 50% 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  margin: 1rem 0;
  padding: 0 15%;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

nav li a {
  color: #d0604c;
  text-decoration: none;
}

nav li a:hover {
  color: #d3a59d;
  font-weight: 500;
  transition: 0.4s ease;
}

section {
  display: flex;
}

article {
  flex: 1;
}

.promo-section {
  position: relative;
  background-image: url(./Assets/Images/promotional-section-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 0 0 50% 0;
  height: 50vh;
  cursor: pointer;
}

.promo-section::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 0 0 50% 0;
}

.promo-section article {
  position: relative;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-section article h1,
p {
  cursor: text;
}

.promo-section article h1 {
  letter-spacing: 0.3rem;
}

.promo-section article p {
  width: 70%;
  text-transform: uppercase;
  margin: 1rem;
  letter-spacing: 0.38rem;
  line-height: 1.5rem;
}

.promo-section article:hover {
  background-color: rgba(208, 96, 76, 0.2);
  border-radius: 0 0 50% 0;
  transition: 1s ease;
}

.main {
  background-color: #f2e0d2;
  padding: 3rem;
  border-radius: 0 50% 0 50%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #d0604c;
  color: #f2e0d2;
  margin: 0 1rem;
  height: 60vh;
  cursor: pointer;
}

.card:hover {
  background-color: #d3a59d;
  scale: 1.1;
  opacity: 0.7;
  transition: 0.6s ease-in-out;
}

.card .content {
  padding: 1rem;
}

.content h2 {
  margin: 1rem 0;
}

.main article img {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

footer div img {
  width: 10rem;
}

footer div p {
  color: #d0604c;
}

footer div p a {
  color: #d0604c;
  text-decoration: none;
  font-weight: 600;
}

footer div p a:hover {
  color: #d3a59d;
  transition: 0.4s ease;
}
